* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Roboto'
}

header {
    order: -1;
    margin: 5px;
}

#page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav {
    opacity: 0;
    margin-left: 25px;
    transition: opacity .25s;
    align-items: center;
}

main:hover + header nav,
header:hover nav {
    opacity: 1;
}

nav ul {
    display: flex;
    list-style: none;
    width: 25%;
}

nav li {
    margin-left: 10px;
}

main {
    margin-top: 25px;
    text-align: center;
}

.sprite {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-image: url(./sprites.png);
}

.sprite-forward {
    animation-name: forward;
    animation-duration: 1.5s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;

}

@keyframes forward {
    from {
        background-position: 0 0;
    }
    to { 
        background-position: -630px 0;
    }
}
